service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /gyms/{gym} {
  
    	function isAdmin() {
      	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    	}
      
      allow read, create, update, delete: if isAdmin()
      
  	}
    
  }
}

