

    #map { 
        height: 95vh;
        position: relative;
    }

      .mapboxgl-popup {
        max-width: 200px;
      }
      
      .mapboxgl-popup-content {
        text-align: center;
      }

