<h1 mat-dialog-title>Filters</h1>
<div mat-dialog-content>

  <mat-checkbox color="primary" [(ngModel)]="sets.showQuests">Show quest layer</mat-checkbox><br />
  <mat-checkbox color="primary" [(ngModel)]="sets.showGyms">Show gym layer</mat-checkbox><br />

  <mat-tab-group animationDuration="0ms">

    <mat-tab label="Filter by encounter">
      <mat-checkbox color="primary" [(ngModel)]="sets.negateEncounter">Negate Encounter?</mat-checkbox><br />
      <mat-checkbox color="primary" [(ngModel)]="sets.hasEncounter">Has Encounter?</mat-checkbox><br />
      <autochips [elements]="encs" (updated)="changeEncounter($event)"></autochips>
    </mat-tab>

    <mat-tab label="Filter by type">
      <mat-checkbox color="primary" [(ngModel)]="sets.negateType">Negate Type?</mat-checkbox><br />
      <ng-container *ngFor="let t of types">
        <mat-checkbox color="primary" [value]="t" [checked]="sets.types.includes(t)" (change)="changeType(t)">{{t}}</mat-checkbox><br />
      </ng-container>
    </mat-tab>

    <mat-tab label="Filter by reward">
      <mat-checkbox color="primary" [(ngModel)]="sets.negateReward">Negate Reward?</mat-checkbox><br />
      <mat-checkbox color="primary" [(ngModel)]="sets.hasReward">Has Reward?</mat-checkbox><br />
      <div *ngIf="sets.hasReward">
        <ng-container *ngFor="let r of rewards">
          <mat-checkbox color="primary" [value]="r" [checked]="sets.rewards.includes(r)" (change)="changeReward(r)">{{r}}</mat-checkbox><br />
        </ng-container>
      </div>
    </mat-tab>

  </mat-tab-group>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="reset()">Reset</button>
  <button mat-button cdkFocusInitial (click)="saveAndExit()">Save</button>
</div>