<h1 mat-dialog-title>{{data.description}}</h1>

<!-- nur gyms haben ne url, beim quests heißt es anders-->
<div *ngIf="data.url; then gymBlock else questBlock"></div>

<ng-template #gymBlock>
  <div mat-dialog-content >
    <p>Gym latitude longitude here oder link zu google</p><br/>
    <p>AName: {{data.desc}}</p><br/>
    <p>Badge: {{data.badge}}</p><br/>
    <img class='gym-preview' [src]='data.url'/>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div>
</ng-template>

<ng-template #questBlock>
  <div mat-dialog-content >
    <p>quest latitude longitude here oder link zu google blub</p><br/>
    <p>Aufgabe: {{data.taskDesc}}</p><br/>
    <p>Typ: {{data.type}}</p><br/>
    <p>Reward: {{data.reward}}</p><br/>
    <img class='quest-img' [src]='data.reward'/><br/>
    <p>Status: {{data.status}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="exclude(0)">Exclude this type</button>
    <button mat-button (click)="exclude(1)">Exclude this reward</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div>
</ng-template>
