<mat-card class="example-card" *ngIf="!loading">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ (user$ | async)?.displayName }}</mat-card-title>
        <mat-card-subtitle>User</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!--
        <ul>
            <li *ngFor="let cnt of badges; index as bdg">
                {{ cnt }} Badges vom Typ {{ badgeNames[bdg + 1] }}
            </li>
        </ul><br />
    -->  
        <p class="badge-header">Is loading:{{badgeRows2.adapter.isLoading}} First:${{badgeRows2.adapter.firstVisible.$index}} Last:${{(badgeRows2.adapter.lastVisible$ | async)?.$index}}</p>
        <ul #badgelist class="viewport badge-list">
            <li class="badge-row" *uiScroll="let row of badgeRows2">
                <div class="entry" *ngFor="let e of row">
                    <div class="img-union">
                        <img class="under" loading="lazy" src="https://{{e.u}}" width="126" height="174">
                        <img class="over" src="../../assets/gyms/GymBadgeFrame_{{e.b}}.png">
                    </div>
                    <p class="gym-name">{{e.d}}</p>
                </div>
            </li>
        </ul>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>