<mat-progress-bar class="loader" mode="indeterminate" *ngIf="loading" color="accent"></mat-progress-bar>
<mat-card class="example-card" *ngIf="!loading">
    <mat-card-header>
      <ng-container *ngIf="userData as user">
        <img mat-card-avatar class="example-header-image" src="{{user.image}}">
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
        <div class="badgeCountRow" *ngFor="let cnt of badgeCounts; index as bdg" matRipple [matRippleColor]="accent" [matRippleRadius]="50">
            <p class="badgeCount">{{ cnt }}</p>
            <img class="badgeCountImage" src="../../assets/gyms/GymBadgeFrame_{{bdg + 1}}.png" [attr.data-badge]="bdg + 1" (click)="jumpToType($event)">
          </div>
          <br>
          <strong>Insgesamt {{count}} Badges</strong>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>