.badgeCountRow {
	position: relative;

	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;

	.badgeCountImage {
		width: 100px;
		height: 100px;
		position: absolute;

		top: 50%;
		left: 50%;

		margin-top: -50px;
		margin-left: -50px;
	}

	.badgeCount {
		font-weight: bold;
	}
}
