@import '~@angular/material/theming';
@include mat-core();

// https://material.io/design/color/#tools-for-picking-colors hier die farben festlegen
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

body {
    margin: 0;
    font-family: sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .input-group {
    display: flex;
    align-items: stretch;
  }
  
  .input-group-field {
    margin-right: 0;
  }
  
  .input-group .input-group-button {
    margin-left: 0;
    border: none;
  }
  
  .input-group .mat-flat-button {
    border-radius: 0;
  }

  .mapboxgl-ctrl-filter {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48ZyBpZD0ic3VyZmFjZTEiPjxwYXRoIHN0eWxlPSIgIiBkPSJNIDAgMCBMIDAgMiBMIDkgMTEgTCA5IDI0IEwgMTUgMjAgTCAxNSAxMSBMIDI0IDIgTCAyNCAwIFogTSAyLjgxMjUgMiBMIDIxLjE4NzUgMiBMIDE0LjE4NzUgOSBMIDkuODEyNSA5IFogTSAxMSAxMSBMIDEzIDExIEwgMTMgMTguOTA2MjUgTCAxMSAyMC4xODc1IFogIj48L3BhdGg+PC9nPjwvc3ZnPg==') 50% 50% no-repeat;
  }

  .mapboxgl-ctrl-add-location {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48cGF0aCBkPSJNMTIgMkM4LjE0IDIgNSA1LjE0IDUgOWMwIDUuMjUgNyAxMyA3IDEzczctNy43NSA3LTEzYzAtMy44Ni0zLjE0LTctNy03em00IDhoLTN2M2gtMnYtM0g4VjhoM1Y1aDJ2M2gzdjJ6Ii8+PC9zdmc+') 50% 50% no-repeat;
  }

  .badge-list::-webkit-scrollbar-track
{
  background-color: rgb(255, 255, 255);
}

.badge-list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.badge-list::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: mat-color($my-app-primary);
}

.color-accent {
  color: mat-color($my-app-accent);
}

